# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# macOS files
.DS_Store

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Database files
*.sqlite3

# Output folders
results/

# Temporary files
*.tmp
*.swp